# Database
db.sqlite3
*.sqlite3

# Environment Variables
.env
.env.*

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Static and media outputs
staticfiles/
media/*
!media/shop/
!media/shop/images/
!media/shop/images/*
!media/blog/
!media/blog/images/
!media/blog/images/*
*.log

# IDE & Editor settings
.vscode/
.idea/
.DS_Store
